<launch>
	<node pkg="copy_when_uncertain" type="environment_updater.py" name="environment_updater">
		<param name="rewards_shape" value="0.183"/>
		<param name="rewards_scale" value="45.45"/>
	</node>
	<node pkg="copy_when_uncertain" type="evolve_server.py" name="evolve_server"/>
	<node pkg="copy_when_uncertain" type="record_generation_server.py" name="record_generation_server">
		<param name="filename_prefix" value="high_variance"/>
	</node>
</launch>         
